includes:
  - %rootDir%/../phpstan-symfony/extension.neon
  - %rootDir%/../phpstan-symfony/rules.neon

parameters:
  level: 9
  excludePaths:
    - vendor/(?)
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - identifier: missingType.iterableValue
